.box-1 {
  width: 150px;
  height: 150px;
  display: block;

  background-color: red;
}

.box-2 {
  width: 150px;
  height: 150px;
  display: block;

  background-color: green;
}

@mixin box {
  width: 150px;
  height: 150px;

  display: block;
}

@mixin box-bg($color: yellow) {
  background-color: $color;
}

.box-1 {
  @include box;

  @include box-bg(aqua);
}

.box-2 {
  @include box;

  @include box-bg(royalblue);
}
